body{
    height: 1000px;
    width: 1000px;
    background-image: url("http://ndl.mgccw.com/mu3/wallpaper/20140621/00/1403289995750/wallpaper-1425820.jpg");
}


#container{
    height: 1000px;
    width: 1000px;
}
#header{
    height: 150px;
    width: 1000px;
    padding: 10px;
    margin-top: 20px;

}
#picture{
    height: 300px;
    width: 1000px;
    padding: 10px;
    margin-top: 30px;
    background-image: url("http://images.all-free-download.com/images/graphiclarge/red_apple_211248.jpg");
}
#signIn{
    height: 100px;
    width: 450px;
    padding: 10px;
    float: left;
    margin-top: 35px;
}
#logIn{
    height: 100px;
    width: 450px;
    float: right;
    padding: 10px;
    margin-top: 35px;

}
